*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #2e1f6c;
    color: #fff;
    font-family: 'Poppins' , sans-serif;
}
h1{
    text-align: center;
    margin: 100px auto 50px;
    font-size: 44px;
    letter-spacing: 1.2px;
}

form{
    width: 90%;
    max-width: 600px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    border-radius: 8px;
    background-color: #5d4aa9;
}
form input{
    flex: 1;
    height: 100%;
    outline: 0px;
    border: 0px;
    padding: 0px 20px;
    font-size: 18px;
    color: #fff;
    background-color: transparent;
}
::placeholder{
    color: #fff;
}
form button{
    height: 100%;
    padding: 0px 40px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: none;
    outline: none;
    font-size: 18px;
    color: #fff;
    background-color: orange;
}

#storeImage{
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:40px;
}
#storeImage img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
#showmore{
    padding: 15px 30px;
    margin: 0px auto 50px;
    border:  none;
    background-color: orange;
    color: #fff;
    border-radius: 8px;
    display: none;
}